/* bullseye_search.css */

#bullseye-search-map-canvas {
  display: none;
  height: 300px;
  width: 80%;
}

#bullseye-search-results-list {
  /* this is the enclosing div for the list of results */
  clear: both;
  float: left;
  width: 90%;
}

.bullseye-search-result {
  /* this is a single result */
  border-bottom: 1px solid grey;
  clear: both;
  float: left;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  width: 90%;
}

.bullseye-search-address {
  float: left;
}

.bullseye-search-dist-map {
  float: right;
  position: absolute; bottom: 5px; right: 5px;
  text-align: right;
}

.bullseye-search-pager {
  border-bottom: 1px solid grey;
  clear: both;
  float: left;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;  
  width: 90%;
}
.bullseye-search-prev {
  float: left;
}
.bullseye-search-next {
  float: right;
  text-align: right;
}

/* this is for the logo at the bottom of the search page. */
.bullseye-search-logo {
  clear: both; 
  float: left; 
  padding-top: 5px;
  text-transform: uppercase; 
  color: #ee202d; 
  font: normal 12px/12px arial; 
  text-decoration: none;
  }
.bullseye-search-logo img {
  vertical-align: text-bottom;
}
